<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=(localdb)\mssqllocaldb;Database=JraVanRaceHorseTable;Trusted_Connection=True;Connection Timeout=60;Command Timeout=60;" />
	</connectionStrings>
	<appSettings>
		<add key="fromTime" value="00000000000000" />
	</appSettings>
</configuration>